{% extends '__base__.html' %}
{% block title %}关于本站{% endblock %}
{% block content %}
    <!-- blog -->
    <div>
        <div class="uk-panel">
            <article class="uk-article uk-overflow-container">
                <h1 class="uk-article-title">关于本站</h1>
                <p>非典型性程序员、codelover、运维。</p>
                <p>专注于Python、PHP、MySQL</p>
                <p>常用邮箱：<a href="mailto:zhouxiaolun1993@foxmail.com">zhouxiaolun1993@foxmail.com</a></p>
                <p>GitHub: <a href="https://github.com/ZhouXiaolun">github.com/ZhouXiaolun</a></p>
                <hr class="uk-article-divider">

                <div>
                    <div class="uk-panel uk-panel-box uk-width-1-6" style="display:inline-block">
                        <div class="uk-panel-badge uk-badge uk-badge-notification">捐赠</div>
                        <h3 class="uk-panel-title">支付宝</h3>
                        <img src="/static/img/alipay.jpg" alt="捐赠：支付宝">
                    </div>

                    <div class="uk-panel uk-panel-box uk-width-1-6" style="display:inline-block">
                        <div class="uk-panel-badge uk-badge uk-badge-notification">捐赠</div>
                        <h3 class="uk-panel-title">微信</h3>
                        <img src="/static/img/wechat.png" alt="捐赠：微信">
                    </div>
                </div>
                <hr class="uk-article-divider">
            </article>
        </div>
    </div>
    <!-- end blog -->
{% endblock %}